<form>
<div class="container">
    <table>
        <tr>
            <td style="text-align: center;">
              <h1>PAGUE YA</h1> 
            </td>
            <td>
              <h1>Caso Práctico</h1> 
            </td>
          </tr>
      <tr>
        <td colspan="2">
          <h2>Indicaciones:</h2>
          <ul>
            <li>El ejercicio práctico no debe realizar persistencia a base de datos, únicamente se debe simular su conexión con datos quemados.</li>
            <li>El ejercicio debe ser desarrollado utilizando un repositorio público en GITHUB. (Correo donde enviar el Enlace: juhernan@pichincha.com)</li>
            <li>El desarrollo debe contener un componente Web y un componente backend.</li>
          </ul>
          <h2>Desarrollo del Caso:</h2>
          <p>Elaborar un API y un formulario usando .NET 8 y Angular 16 o superior respectivamente que resuelva la siguiente problemática:</p>
          <h3>Contexto:</h3>
          <p>Como empresa de cobranza actualmente se está realizando un acercamiento a los clientes para que se realicen convenios de pagos. Este proceso se lo hace ya varios años y para clientes con mora de más de 120 días es muy difícil un acercamiento. Con lo cual la empresa de cobranza está proponiendo realizar una campaña de descuentos con el objetivo de que los clientes se acerquen a realizar los convenios de pago. Se necesita diseñar una solución que permita registrar la intención de pago del cliente, con el objetivo de que el negocio se ponga en contacto y realice el convenio de acuerdo con su capacidad de pago.</p>
        </td>
      </tr>
    </table>
  </div>
</form>